@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');

:root {
    --img-size: 150px
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    border: 0;
    font-family: 'Poppins', sans-serif;
    transition: top 0.3s;
}

body {
    height: 100vh;
}

.header{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 7.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header .header-logo {
    height: auto;
    width: var(--img-size);
}

.navbar a {
    position: relative;
    color: black;
    font-size: 16px;
    font-weight: 550;
    text-decoration: none;
    margin-right: 30px;
}

.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: black;
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: 0.5s;
}

.navbar a:hover::after{
    transform: translateY(0px);
    opacity: 1;
}

.sign-up-button {
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
}

.sign-up-button:hover {
    background-color: gray;
    color: white;
}

.sign-in-button {
    margin-left: 20px;
    padding: 10px;
    background-color: #FFCD6B;
    border: 1px solid #FFCD6B;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
}

.sign-in-button:hover {
    background-color: #9c7d3f;
    color: white;
}


#user-account {
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
}

#user-account option {
    font-size: 16px;
    font-weight: bold;
    background-color: #FFCD6B;
    color: black;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 250px;
    margin-left: 500px;
}

.card {
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.grid-container .card h3 {
    text-align: center;
}

.card .car-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;;
}